<div class="text-center">
  <h1>User Edit</h1>
</div>

<%= render 'form', user: @user %>

<p class="mt-3 text-center">退会の方は<%= link_to "こちら", @user, method: :delete, data: { confirm: "本当によろしいですか？" }, class: 'text-danger' %></p>