<% if logged_in? %>

<%= render 'memories/memories', memories: @memories %>

<% else %>


  <div class="center jumbotron text-center">
    <div>
      <h1>思い出を記録していこう。</br>
それはあなたの生きた証になる。</h1>
    </div>
    <div>
      <%= link_to 'Sign up Now!', signup_path, class: 'btn btn-primary w-auto' %>
    </div>
  </div>
<% end %>