<% if logged_in? %>

<%= render 'memories/memories', memories: @memories %>

<% else %>


  <div class="center jumbotron text-center">
    <div>
      <h1>I remember it like it was yesterday.</h1>
    </div>
    <div>
      <%= link_to 'Sign up Now!', signup_path, class: 'btn btn-primary w-auto' %>
    </div>
  </div>
<% end %>