<div class="container">
    
  <% @memories.each do |memory| %>
    <% memory.memory_images.each do |i| %>
    
      <div class="image-gallery__item">
        <%= link_to i.image.url, 'data-lightbox': i.image do %>
          <%= image_tag (i.image.url(:thumb) if i.image?) %>
        <% end %>
      </div>
            
    <% end %>
  <% end %>

</div>