<div class="container">
    
  <% @memories.each do |memory| %>
    <% memory.images.each do |image| %>
    
      <div class="image-gallery__item">
        <%= link_to image.url, 'data-lightbox': image do %>
          <%= image_tag (image.url(:thumb) if image.url.present?) %>
        <% end %>
      </div>
            
    <% end %>
  <% end %>

</div>