<ul class="list-unstyled">
  
<% memories.each do |memory| %>

    <li class="media mb-3">
      
      <div class="media-body">
        <div>
 <span class="text-muted">posted at 
<%= memory.created_at %>
</span>
        </div>
        <div>
          <p>
<%= memory.content %>
</p>
        </div>
        <div>
          
<% if current_user == memory.user %>

            
<%= link_to "Delete", memory, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>

          
<% end %>

        </div>
      </div>
    </li>
  
<% end %>

</ul>